.trinium-settings-header {
  margin-top: 1em !important;
  background-color: rgb(255 255 255 / 50%);
  padding: 0.5em;
  font-weight: bold;
}

#chat-controls {
  padding: 0;
  margin: 0;
  gap: inherit;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.chat-controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 2px 0;
  padding: 4px;
  flex: 0 0 auto;
}
